.search-wrapper {
  position: relative;
  width: 220px;

  margin-bottom: 20px;

  .shortcut-box {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #515151;
    font-size: 12px;
  }
}

.search-box {
  width: 158px;
  height: 38px;
  font-size: 16px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  padding-right: 70px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:active,
  &:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
    outline: none;
  }

  &:disabled {
    background-color: rgb(233, 236, 239);
  }
}
